.form-container {
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="text"],
input[type="tel"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    margin-top: 25px;
    background-color: #007bff;
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    border-color: red !important;
}

.profile-photo-label {
  display: block;
  margin-bottom: 1rem;
  cursor: pointer;
  margin-top: 30px;
}

.photo-holder {
  background: #f0f0f0;
  border: 2px dashed #ccc;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  transition: 0.3s ease;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-holder img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
